/* Variables */
:root {
  --bg-color1: #061A25;
  --bg-color2: #262626;
  --bg-color3: #D9D9D9;
  --color-texto1: #f7f8fa;
  --color-texto2:#FF7465;
  --color-texto3: #FFEA2B;
  --altura-de-linea: 1.3erm
}

/* CSS Resets */
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-texto1);
}

a:hover {
  color: var( --color-texto3);
}

/*Configuración general*/

body {
  background-color: var( --bg-color1);
  color: var(--color-texto1);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: var(--altura-de-linea);
}

strong {
  color: var(--color-texto3) ;
}

/*Barra de navegación*/

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--bg-color2);
  border-bottom: 1px solid var(--bg-color3);
  box-shadow: 0 2px 15px 2px var(--bg-color3);
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li {
  font-weight: bold;
}

/*sección presentación*/

.presentacion {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.presentacion img {
  height: 80vh;
  width: 25vw;
}

.presentacion div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 4px 2px 15px 2px var(--bg-color3);
  background-color: var(--bg-color2);
  
}

.presentacion  div p {
  padding-top: 1rem ;
  text-align: justify;
}

strong {
  color: var(--color-texto3) ;
}


/*sección mas sobre mi*/

.sobreMi {
  height: 100vh;
  background-color: var(--bg-color2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sobreMi p {
  text-align: justify;
  width: 50vw;
  padding-top: 1rem;
}

/*sección habilidades*/

.habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.icono-habilidades {
  padding-top: 2rem;
}

.icono-habilidades img {
  align-content: space-around;
  padding: 1.25rem;
  width: 10vw;
  height: 20vh;
  background-color: var(--bg-color2);
  border-radius: 11px;
  box-shadow: 4px 2px 15px 2px var(--bg-color3);
  margin: 1rem;
}

/*Sección proyecto*/

.proyectos{
  height: 100vh;
  background-color: var(--bg-color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.proyectos h2 {
  margin-bottom: 1rem;
}

.tarjeta-de-proyecto  {
  display: flex;
}

.tarjeta-de-proyecto a {
  color: var( --color-texto2);
}
.tarjeta-de-proyecto div {
  text-align: center;
  background-color: var(--bg-color1);
  border-radius: 11px;
  box-shadow: 4px 2px 15px 2px var(--bg-color3);
  padding: 1.5rem;
  margin: 1rem;
 }

 .tarjeta-de-proyecto img {
  width: 20vw;
  height: 20vh;
 }

/*Sección contactarme*/

.contactos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.contactos div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.contactos img {
  width: 10vw;
  height: 20vh;
  background-color: var(--bg-color2);
  border-radius: 11px;
  box-shadow: 4px 2px 15px 2px var(--bg-color3);
  padding: 1.5rem;
  margin: 2rem;
}

/*Sección sociales*/

footer {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 8vh;
  background-color: var(--bg-color2);
  border-top: 1px solid var(--bg-color3);
  box-shadow: 2px 0 15px 2px var(--bg-color3);
}

footer img {
  width: 3vw;
  height: 5vh;
}